<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/scripts/main.js"></script>
</head>
<body>
    <main data-trio-fragment>
        <d class="something-went-wrong something-went-wrong--shown">
            <h1>Bundling With Parcel Example</h1>
            <p class="copy copy--error">Whoops! Something went wrong.</p>
        </d>
        <d class="it-worked it-worked--hidden">
            <h1>Bundling With Parcel Example</h1>
            <img src="/media/happy-dance.gif"alt="happy dance gif image">
            <p class="copy">JavaScript bundling worked<span class="exclamation">!</span></p>
    </main>
</body>
</html>

