$font-size: 2rem;

h1 {
    color: #a03b9d;
    font-size: $font-size;
}

.copy {
    color: #edb83a;
    font-weight: bold;
    font-size: $font-size;
    &--error {
        color: #f00;
    }
}

.exclamation {
    color: black;
}

.something-went-wrong {
    font-size: $font-size;
    display: block;
    &--hidden {
        display: none;
    }
}

.it-worked {
    display: none;
    &--shown {
        display: block;
    }
}
