$font-size: 2rem;

main {
    width: 100vw;
}

h1 {
    color: #a03b9d;
    font-size: $font-size;
    text-align: center;
}

img {
    max-width: 30rem;
    min-width: 10rem;
    margin: auto;
    height: auto;
}

.copy {
    color: #edb83a;
    font-weight: bold;
    font-size: $font-size;
    &--error {
        color: #f00;
    }
    text-align: center;
}

.exclamation {
    color: black;
}

.something-went-wrong {
    display: flex;
    flex-flow: column nowrap;
    font-size: $font-size;
    &--hidden {
        display: none;
    }
}

.it-worked {
    display: none;
    &--shown {
        display: flex;
        flex-flow: column nowrap;
    }
}
